.messageList {
    height: 92vh;
    overflow-y: auto;
    border: 1px solid gray;
}

.messageBox {
    height: 8vh;
    border: 1px solid gray;
}

.newMessage {
    background-color: 1px solid darkgrey;
    width: 90%;
}